In [79]:
import pandas as pd
from sqlalchemy import create_engine as ce
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import inspect, func,Column,Integer,String,Float

In [85]:
engine=ce('mysql://bb0b038b59569a:33c9d7ce@us-cdbr-iron-east-02.cleardb.net',echo=False)
engine.execute('USE heroku_6e5a2e6badc386d')
conn=engine.connect()

In [81]:
Base=automap_base()
Base.prepare(engine,reflect=True)
area=Base.classes.area

AttributeError: 'NoneType' object has no attribute 'replace'

In [70]:
session=Session(bind=engine)
inspector=inspect(engine)

In [91]:
conn.query('SET GLOBAL connect_timeout=6000')

AttributeError: 'Connection' object has no attribute 'query'

In [87]:
area.to_sql('area',con=engine,index=True,index_label='id')

OperationalError: (MySQLdb._exceptions.OperationalError) (2013, 'Lost connection to MySQL server during query') [SQL: 'DESCRIBE `area`'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [82]:
may=pd.read_csv('TX MAY data normalization.csv')

In [97]:
area=may[['AREA','AREA_NAME']].drop_duplicates()
area.to_csv('area.csv')

In [94]:
occ=may[['OCC_CODE','OCC_TITLE']].drop_duplicates()
occ.to_csv('occ.csv')

In [95]:
occ_group=may[['OCC_GROUP']].drop_duplicates()
occ_group.to_csv('occ_group.csv')

In [ ]:
may.groupby(may[''])

In [96]:
area

        AREA                                       AREA_NAME
0      10180                                     Abilene, TX
856    11100                                    Amarillo, TX
1960   12420                           Austin-Round Rock, TX
3835   13140                        Beaumont-Port Arthur, TX
5055   15180                       Brownsville-Harlingen, TX
6016   17780                       College Station-Bryan, TX
7087   18580                              Corpus Christi, TX
8354   19100                 Dallas-Fort Worth-Arlington, TX
9085   19124   Dallas-Plano-Irving, TX Metropolitan Division
10470  21340                                     El Paso, TX
11865  23104  Fort Worth-Arlington, TX Metropolitan Division
13107  26420            Houston-The Woodlands-Sugar Land, TX
15296  28660                              Killeen-Temple, TX
16435  29700                                      Laredo, TX
17192  30980                                    Longview, TX
18172  31180                                     Lubbock, TX
19339  32580                    McAllen-Edinburg-Mission, TX
20557  33260                                     Midland, TX
21471  36220                                      Odessa, TX
22222  41660                                  San Angelo, TX
22916  41700                   San Antonio-New Braunfels, TX
24807  43300                             Sherman-Denison, TX
25483  45500                                Texarkana, TX-AR
26238  46340                                       Tyler, TX
27277  47020                                    Victoria, TX
27875  47380                                        Waco, TX
28964  48660                               Wichita Falls, TX