In [15]:
import pandas as pd
from sqlalchemy import create_engine as ce
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import inspect,func,Column,Integer,String,Float

In [5]:
engine=ce('mysql://bb0b038b59569a:33c9d7ce@us-cdbr-iron-east-02.cleardb.net/heroku_6e5a2e6badc386d',echo=False)

# engine.execute('USE heroku_6e5a2e6badc386d')

conn=engine.connect()

In [6]:
Base=automap_base()

In [7]:
Base.prepare(engine, reflect=True)
Base.classes.keys()
areas=Base.classes.areas
groups=Base.classes.groups
occs=Base.classes.occs
work=Base.classes.work

In [16]:
may=pd.read_csv('TX MAY data normalization.csv')
may=may[may['OCC_GROUP']=='major']
# may.to_sql('may',con=engine)

In [34]:
# year=pd.DataFrame([2016,2017,2018])
# year.to_sql('year',con=engine)

In [39]:
areas=may[['AREA_CODE','AREA_NAME','LONG_NAD27','LAT_NAD27']].drop_duplicates()
# area.to_sql('areas',con=engine)

In [40]:
groups=may[['OCC_GROUP']].drop_duplicates()
# occ_group.to_sql('occ_group',con=engine)

In [41]:
occ=may[['OCC_CODE','OCC_TITLE','OCC_GROUP']].drop_duplicates()
# occ=may[may['OCC_GROUP']=='detailed'][['OCC_CODE','OCC_TITLE']].drop_duplicates()
# occ.to_sql('occ_detailed',con=engine)

In [54]:
# maj_occ=may[may['OCC_GROUP']=='major'][['OCC_CODE','OCC_TITLE']].drop_duplicates()
# maj_occ.to_sql('maj_occ',con=engine)

In [42]:
work=may[['TOT_EMP','EMP_PRSE','JOBS_1000','LOC QUOTIENT']]
# texaswork=may[['AREA_NAME','OCC_TITLE','OCC_GROUP','TOT_EMP','EMP_PRSE','JOBS_1000','LOC QUOTIENT']]
# texaswork.to_sql('texaswork',con=engine)

In [17]:
may.head()

,AREA_CODE,AREA_NAME,OCC_CODE,OCC_TITLE,OCC_GROUP,LONG_NAD27,LAT_NAD27,TOT_EMP,EMP_PRSE,JOBS_1000,LOC QUOTIENT,Date
1383,10180,"Abilene, TX",11-0000,Management Occupations,major,-99.745115,32.446302,2030.0,6.7,31.741,0.63,5/1/2016
1384,10180,"Abilene, TX",11-0000,Management Occupations,major,-99.745115,32.446302,1960.0,5.8,30.342,0.59,5/1/2017
1385,10180,"Abilene, TX",11-0000,Management Occupations,major,-99.745115,32.446302,2210.0,5.5,34.440,0.65,5/1/2018
1386,11100,"Amarillo, TX",11-0000,Management Occupations,major,-101.844699,35.199202,3960.0,4.6,34.495,0.66,5/1/2018
1387,11100,"Amarillo, TX",11-0000,Management Occupations,major,-101.844699,35.199202,3410.0,4.5,29.782,0.58,5/1/2017

In [20]:
may[may['Date']=='5/1/2018'].groupby('AREA_NAME')['TOT_EMP'].sum()

AREA_NAME
Abilene, TX                               63960.0
Amarillo, TX                             114830.0
Austin-Round Rock, TX                   1028530.0
Beaumont-Port Arthur, TX                 159550.0
Brownsville-Harlingen, TX                138510.0
College Station-Bryan, TX                100560.0
Corpus Christi, TX                       186410.0
Dallas-Fort Worth-Arlington, TX         3568170.0
El Paso, TX                              303560.0
Houston-The Woodlands-Sugar Land, TX    2982410.0
Killeen-Temple, TX                       138520.0
Laredo, TX                                99850.0
Longview, TX                              91900.0
Lubbock, TX                              142210.0
McAllen-Edinburg-Mission, TX             260280.0
Midland, TX                              100720.0
Odessa, TX                                76510.0
San Angelo, TX                            45870.0
San Antonio-New Braunfels, TX           1011660.0
Sherman-Denison, TX                       44910.0
Texarkana, TX-AR                          55690.0
Tyler, TX                                101730.0
Victoria, TX                              39120.0
Waco, TX                                 116430.0
Wichita Falls, TX                         57010.0
Name: TOT_EMP, dtype: float64