In [48]:
import pandas as pd
from sqlalchemy import create_engine as ce
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import inspect,func,Column,Integer,String,Float

In [49]:
engine=ce('mysql://bb0b038b59569a:33c9d7ce@us-cdbr-iron-east-02.cleardb.net/heroku_6e5a2e6badc386d',echo=False)

# engine.execute('USE heroku_6e5a2e6badc386d')

conn=engine.connect()

In [33]:
Base=automap_base()

In [37]:
Base.prepare(engine, reflect=True)
Base.classes.keys()
areas=Base.classes.areas
groups=Base.classes.groups
occs=Base.classes.occs
work=Base.classes.work

In [50]:
may=pd.read_csv('TX MAY data normalization.csv')
may=may[may['OCC_GROUP']=='major']
may.to_sql('may',con=engine)

In [34]:
# year=pd.DataFrame([2016,2017,2018])
# year.to_sql('year',con=engine)

In [39]:
areas=may[['AREA_CODE','AREA_NAME','LONG_NAD27','LAT_NAD27']].drop_duplicates()
# area.to_sql('areas',con=engine)

In [40]:
groups=may[['OCC_GROUP']].drop_duplicates()
# occ_group.to_sql('occ_group',con=engine)

In [41]:
occ=may[['OCC_CODE','OCC_TITLE','OCC_GROUP']].drop_duplicates()
# occ=may[may['OCC_GROUP']=='detailed'][['OCC_CODE','OCC_TITLE']].drop_duplicates()
# occ.to_sql('occ_detailed',con=engine)

In [54]:
# maj_occ=may[may['OCC_GROUP']=='major'][['OCC_CODE','OCC_TITLE']].drop_duplicates()
# maj_occ.to_sql('maj_occ',con=engine)

In [42]:
work=may[['TOT_EMP','EMP_PRSE','JOBS_1000','LOC QUOTIENT']]
# texaswork=may[['AREA_NAME','OCC_TITLE','OCC_GROUP','TOT_EMP','EMP_PRSE','JOBS_1000','LOC QUOTIENT']]
# texaswork.to_sql('texaswork',con=engine)

In [4]:
may.head()

,PRIM_STATE,AREA,AREA_NAME,OCC_CODE,OCC_TITLE,OCC_GROUP,LONG_NAD27,LAT_NAD27,TOT_EMP,EMP_PRSE,...,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY,Date
0,TX,10180,"Abilene, TX",43-5053,"Postal Service Mail Sorters, Processors, and P...",detailed,-99.745115,32.446302,70,0.0,...,28.89,28.90,"35,770","40,860","44,720","60,090","60,110",NaN,NaN,5/1/2018
1,TX,10180,"Abilene, TX",43-5053,"Postal Service Mail Sorters, Processors, and P...",detailed,-99.745115,32.446302,80,0.0,...,28.15,28.16,"34,580","34,590","43,350","58,560","58,570",NaN,NaN,5/1/2017
2,TX,10180,"Abilene, TX",43-5053,"Postal Service Mail Sorters, Processors, and P...",detailed,-99.745115,32.446302,80,0.0,...,27.30,27.31,"32,520","32,530","40,120","56,790","56,800",NaN,NaN,5/1/2016
3,TX,10180,"Abilene, TX",29-1061,Anesthesiologists,detailed,-99.745115,32.446302,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5/1/2016
4,TX,10180,"Abilene, TX",23-1011,Lawyers,detailed,-99.745115,32.446302,100,30.6,...,77.53,NaN,"43,270","63,820","83,190","161,270",NaN,NaN,NaN,5/1/2017

27